#map{
  height: 600px;
  width: 100%;
  border-radius: 10px;
  z-index:3;
}


  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    
    background: yellow;
    font-family: Px Grotesk Pan ;
    padding: 0;
  }
  
  .custom-map-control-button {
    background-color: #f13800;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
  }
  .custom-map-control-button:hover {
    background: rgb(235, 235, 235);
  }
  
  
  button {
    /*display: inline-block;*/
    padding: 5px 10px;
    background-color: #e95703;
    color: #fff;
    text-decoration:none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin: 1%;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f89705;
  }
  



  .goBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f89705;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
  }
  
  .goBtn i {
    margin-right: 5px;
  }

  .image-goBtn img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .container{
    padding: 0 60px;
  }
  
  .sub-container{
    padding-top: 40px;
    width: 100%;
    position: relative;
  }
  
  .logo{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    content: "";
    margin-left: -65px;
    text-align: center;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
    margin-right: 10px;
  }

  nav {
 
 
    align-items: right;
    padding: 10px;
  }
  
  
  nav p {
    margin: 0;
    color: #fff;
    font-style: italic;
  }

  .nav-menu ul{
    text-align: right;
    list-style-type: none;
  }
  
  .nav-menu ul li:nth-child(1){
    float: left;
  }
  .nav-menu ul li:nth-child(2){
    float: left;
  }
  .nav-menu ul li:nth-child(3){
    float: left;
  }
  
  .nav-menu ul li{
    margin: 0 15px;
    float: none;
    display: inline-block;
    letter-spacing: 1.5px;
  }
  
  .nav-menu ul li:nth-child(1){
    float: left;
  }
  
  .nav-menu ul li a{
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
  }
  
  .nav-menu ul li a:hover{
    color: red;
  }
  
  .page-divider{
    margin-top: 50px;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  
  .wrapper{
    margin: 60px 0 ;
    padding: 0 75px;
    display: flex;
    color: #ffffff;
  }
  
  .title-left-img{
    width: 90%;
    height: 60%;
    border-radius: 10px;
  }
  
  .left-column{
    width: 70%;
    text-align: center;
    z-index: 3;
  }
  
  .left-column h3{
    font-size: 35px;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    color: black;
  }
  
  .left-column p{
    color: black;
  }
  
  .center-column{
    width: 30%;
    background-image: url(icons/sd.jpg);
    background-size: 350%;
  }
  
  
  .description-article{
    font-size: 18px;
  }
  
  .author{
    color: #828282;
    margin-top: 30px;
    font-size: 13px;
  }

  #contentDiv{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #contentDiv .content {
    background-color: white;
    padding-top: 20px;
    border-radius: 5px;
  }


  #menu{
    z-index: 999;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 4%;
  }


  #floating-panel {
    position: absolute;
    z-index:0;
    text-align: left;
    line-height: 30px;
    padding-left: 10px;
    margin: 5px;
  }

  #share{
    cursor: pointer;
  }


  
  